* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
}

p {
  border: 1px solid black;
  background-color: #A52A2A;
/*  width: 90%; */
  height: 150px;
  margin-right: 15px;
  margin-left: 15px;
  font-family: Helvetica;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
}

#p1 {
  border: 1px solid black;
  background-color: green;
  width: 120px;
  height: 30px;
  margin: 15px;
  font-family: Helvetica;
  text-align: center;
  padding-top: 5px;
  color: skyblue;
  float: right;
}

#p2 {
  border: 1px solid black;
  background-color: darkred;
  width: 120px;
  height: 30px;
  margin: 15px;
  font-family: Helvetica;
  text-align: center;
  padding-top: 5px;
  color: skyblue;
  float: right;
}

#p3 {
  border: 1px solid black;
  background-color: yellow;
  width: 120px;
  height: 30px;
  margin: 15px;
  font-family: Helvetica;
  text-align: center;
  padding-top: 5px;
  color: skyblue;
  float: right;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 1px solid green;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (max-width: 767px) {
  .col-xs-12 {
    float: left;
    border: 1px solid green;
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid green;
  }

  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}
